.header a {
  margin-right: 1em;
}

.btn a {
  margin: auto;
  text-decoration: none;
}

h1 a {
  color: white;
  text-decoration: none;
}

.header nav {
  margin-bottom: 1em;
}

.header {
  max-width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20%;
  margin-bottom: 40%;
  display: flex;
  color: white;
}

.header h1 {
  font-size: 4em;
}

.title {
  flex: 30%;
}

.nav {
  flex: 40%;
  margin: auto;
  text-align: center;
  height: 100%;
}

.btn {
  width: 20%;
  float: left;
  background-color: rgba(229, 228, 229, 0.7);
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  margin: 0.5em;
  border-radius: 20px;
}

.btn:hover {
  background-color: rgba(195, 195, 195, 0.7);
}