.about h2 {
  text-align: center;
}

.row {
  display: flex;
}

.pic {
  flex: 50%;
  text-align: center;
}

.text {
  flex: 50%;
  text-align: center;
}

.about {
  background-color: rgba(226, 231, 237, 1);
  /* padding: 5%; */
  padding-top: 5%;
  padding-bottom: 5%;
}
.btn {
  float: right;
}