body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  background-image: url("./images/backgroundphoto.jpg");
  /* background-size: cover; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h2 {
  font-size: 2.5em;
}

#root {
  max-width: 70%;
  padding: 5%;
  margin: auto;
  color: rgba(244, 244, 244, 1);
  margin-bottom: 10%;
}

#about {
  background-color: rgba(226, 231, 237, 1);
  padding: 15%;
}

#projects {
  background-color: rgba(230, 229, 235, 1);
  /* padding-left: 10%;
  padding-right: 10%;
  padding-top: 10%;
  padding-bottom: 5%; */
  padding: 15%;
}

#courses {
  background-color: rgba(235, 229, 235, 1);
  /* padding-left: 10%;
  padding-right: 10%;
  padding-top: 5%;
  padding-bottom: 5%; */
  padding: 15%;
}
